@import url("https://fonts.googleapis.com/css2?family=Euclid+Circular+B:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --type-face-b9-regular: "Euclid Circular B";
  --b7-regular-proxima: "Proxima Nova";
  --font-inter: Inter;

  /* font sizes */
  --type-face-b6-regular-size: 16px;
  --type-face-b9-regular-size: 10px;
  --b7-regular-proxima-size: 14px;
  --type-face-b8-regular-size: 12px;
  --type-face-b4-semibold-size: 20px;
  --type-face-b3-regular-size: 24px;
  --type-face-b5-semibold-size: 18px;
  --type-face-b2-semibold-size: 28px;
  --font-size-3xs-9: 9.9px;
  --font-size-5xs-6: 7.6px;

  /* Colors */
  --white: #fff;
  --main-green: #12d8a0;
  --deep-gray: #3d3d3d;
  --color-gray-100: #fbfcfc;
  --semi-grey: #919191;
  --color-gray-200: #242424;
  --black: #191919;
  --color-gray-300: #0d0d0d;
  --gray1: #f5f5f5;
  --light-gray: #e4e4e4;
  --gray: #cbcbcb;
  --cta-blue: #4545fe;
  --main-yellow: #ff9103;
  --error: #ff6a6a;
  --mid-gray: #606060;
  --color-silver: rgba(187, 187, 187, 0.6);
  --color-darkgray: #969696;
  --main-purple: #7255cb;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-8xs: 5px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-149xl: 168px;
  --padding-base: 16px;
  --padding-7xs-7: 5.7px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-base: 16px;

  /* Effects */
  --a: 4px 4px 8px rgba(123, 157, 157, 0.15);
  --deep-card: -4px 0px 12px rgba(0, 0, 0, 0.04);
  --low-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
}
